[v-cloak] {
  display: none;
}
* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 6vmin;
  transition: all .2s ease;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  padding: 3vmin;
}
td {
  text-align: center;
  vertical-align: middle;
}
p {
  margin: 1vmin;
}
mark {
  color: hsla(0, 0%, 0%, 0.3);
  background-color: transparent;
}
sup {
  font-size: 0.8em;
}
i {
  font-family: "gamefont";
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.show {
  opacity: 1;
  visibility: visible;
}
.play-field {
  width: 100vmin;
  height: 100vmin;
  padding: 3vmin;
  position: absolute;
}
.play-field > *, .hud > * {
  width: 100%;
  height: 100%;
  border-radius: 3vmin;
}
.play-field.hud table {
  padding: 2vmin 0;
}
.play-field.hud tfoot td {
  padding-top: 2vmin;
}
#cellpanel {
  table-layout: fixed;
  border-spacing: 2vmin;
  padding: 1vmin;
  width: 100%;
  height: 100%;
}
#mask {
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 1vmin hsla(0, 0%, 100%, 0.8);
  z-index: 999;
}
#stat {
  z-index: 9999;
}
#achievements {
  max-height: 100%;
  overflow-y: scroll;
}
#achievements .inactive {
  color: gray;
}
.item {
  border-radius: 3vmin;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#cellpanel .item {
  font-size: 10vmin;
}
#mask td {
  font-size: 12vmin;
}
.item.active, .item:active {
  -webkit-filter: hue-rotate(180deg) invert(80%);
  filter: hue-rotate(180deg) invert(80%);
}
#cellpanel .item.active, #cellpanel .item:active {
  -webkit-filter: hue-rotate(180deg) invert(100%);
  filter: hue-rotate(180deg) invert(100%);
}
.hud {
  padding: 3vmin;
  line-height: 1.4;
}
#hud1 {
  position: absolute;
  top: 0;
  left: 0;
}
#hud2 {
  position: absolute;
}
@media only screen and (orientation: landscape) and (min-aspect-ratio: 4/3) {
  .play-field {
    top: 0;
    left: calc(50vmax - 50vmin);
  }
  #hud1, #hud2 {
    width: calc(50vmax - 48vmin);
    height: 100vmin;
  }
  #hud2 {
    top: 0;
    left: calc(50% + 48vmin);
  }
}
@media only screen and (orientation: landscape) and (max-aspect-ratio: 4/3) {
  .play-field {
    left: calc(100vmax - 101vmin);
  }
  #hud1, #hud2 {
    left: 0;
    width: calc(100vmax - 100vmin);
    height: 50vmin;
  }
  #hud2 {
    top: 50%;
  }
}
@media only screen and (orientation: portrait) and (max-aspect-ratio: 3/4) {
  .play-field {
    top: calc(50vmax - 49vmin);
  }
  #hud1, #hud2 {
    width: 100vmin;
    height: calc(50vmax - 48vmin);
  }
  #hud2 {
    top: calc(50% + 50vmin);
    left: 0;
  }
}
@media only screen and (orientation: portrait) and (min-aspect-ratio: 3/4) {
  .play-field {
    top: calc(100vmax - 103vmin);
  }
  #hud1, #hud2 {
    width: 50vmin;
    height: calc(100vmax - 104vmin);
    top: 0;
  }
  #hud2 {
    left: 50%;
  }
}