<!DOCTYPE html>
<html lang="cn">
  <head>
    <title>Greatest Common Divisor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="G.C.D">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <link rel="apple-touch-startup-image" href="venn.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link href="cellgame.css" rel="stylesheet">
  </head>
  <body v-cloak @touchmove.stop.prevent>
    <div id="hud1" class="hud">
      <table class="item" :style="hudStyle">
        <tr v-show="game.prompt">
          <td>{{{ game.prompt }}}</td>
        </tr>
        <tr v-show="!game.prompt">
          <td @click="show_stat = !show_stat">Score<br>{{ game.score }}</td>
        </tr>
      </table>
    </div>
    <table id="panel" class="play-field" :style="fieldStyle" @mouseleave="onLeave">
      <tr class="row" v-for="(row, arr) in game.cells">
        <td class="item" v-for="(col, cell) in arr" :class="{active: cell.active}" :style="cell | style"
          @mousedown.prevent="onDragStart(cell)"
          @touchstart="onDragStart(cell)"
          @mousemove.prevent="onDrag(cell)"
          @touchmove.stop.prevent="onDrag(cell, $event)"
          @mouseup.prevent="onDragEnd(cell)"
          @touchend.stop.prevent="onDragEnd(cell, $event)">{{ cell | text }}
        </td>
      </tr>
    </table>
    <table id="mask" class="play-field" :class="{show: game.gameover, hide: !game.gameover}" >
      <tr><td>Game Over</td></tr>
      <tr><td>
        <button class="item" @click="game.changeLevel()" :style="levelStyle">{{ game.levelText() }}</button>
        <button class="item" @click="game.reset()" :style="defaultStyle">Retry</button>
      </td></tr>
    </table>
    <div id="stat" class="play-field hud" :class="{show: show_stat, hide: !show_stat}" :style="statStyle">
      <table>
        <tr>
          <td style="width: 60%">Top Score</td>
          <td><p v-for="score in game.stat[game.level].score_ranking">{{ score }}</p></td>
        </tr>
        <tr>
          <td>Best Combo</td>
          <td>{{ game.stat[game.level].best_combo_detail.gcd }}<sup> {{ game.stat[game.level].best_combo_detail.power }}</sup>
           <mark v-show="game.stat[game.level].best_combo_detail.gcd">=</mark> {{ game.stat[game.level].best_combo }}
          </td>
        </tr>
        <tr><td>Max GCD</td><td>{{ game.stat[game.level].max_gcd }}</td></tr>
        <tr><td>Max Power</td><td>{{ game.stat[game.level].max_power }}</td></tr>
        <tr><td>Max Turn</td><td>{{ game.stat[game.level].max_turn }}</td></tr>
        <tr><td>Total Round</td><td>{{ game.stat[game.level].total_round }}</td></tr>
        <tr><td colspan="2"><button class="item" :style="defaultStyle" @click="game.stat[game.level].clear()">Clear</button></td></tr>
      </table>
    </div>
    <div id="hud2" class="hud">
      <table class="item" :style="hudStyle2" onclick="window.open('http://voids.space/')">
        <tr>
          <td>Created By<br>Zero</td>
        </tr>
      </table>
    </div>
    <script src="fastclick.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="cellgame.js"></script>
    <script src="controller.js"></script>
  </body>
</html>